@import '/src/CONSTANTS/variables';

.button {
   padding: var( --padding-button );
   border-radius: 4px;
   font-size: var( --font-size-small );
   font-weight: var( --font-weight-bold );
   color: $text-color;
   cursor: pointer;
   background-color: $clickable-box-background-color;
   transition: all 0.4s;
   display: inline-flex;
   border: none;
   border-bottom: 3px solid $border-color;
   align-items: center;
}

.button:not(:disabled):hover {
   transform: Scale( 1.03 );
   background-color: #8100bd;
}

.button:not(:disabled):active {
   transform: Scale( 0.97 ); 
   background-color: #7000a3;
}

.button:disabled {
   transform: Scale( 0.97 ); 
   background: #1c1a20;
   cursor: not-allowed;
}

.isActive {
   border-color: $primary-color;
}


@media ( max-width: 576px ) {
   .button {
      border-bottom: none;
   }
}
