.button {
   padding: 5px 10px;
   line-height: 16px;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 600;
   color: #ccc;
   cursor: pointer;
   background-color: #2c2933;
   transition: all 0.4s;
   display: inline-flex;
   border: none;
   border-bottom: 3px solid #423d4d;
}

.button:not(:disabled):hover {
   transform: Scale( 1.03 );
   background-color: #8100bd;
}

.button:not(:disabled):active {
   transform: Scale( 0.97 ); 
   background-color: #7000a3;
}

.button:disabled {
  background: gray;
  cursor: not-allowed;
}

.isActive {
   border-color: rgb(72, 191, 238);
}