@import '/src/CONSTANTS/variables';

.carTrack {
   position: relative;
   border-bottom: 2px solid transparent;
   border-image-slice: 1;
   padding-bottom: 10px;
   border-image-source: linear-gradient(90deg, $primary-color 10%, $secondary-color 90%);
   display: flex;
   &:last-child {
      border-bottom: none;
   }
}

.car {
   margin-top: 40px;
   margin-bottom: -15px;
   transition: all 5s;
   z-index: 4;
   animation-timing-function: linear;
   animation-delay: 4.2s;
   animation-fill-mode: forwards;
   transition: all 0s;
}

.racingAnimation {
   animation-timing-function: linear;
   animation-delay: 4.2s;
   animation-fill-mode: forwards;
   animation-name: moveToEnd;
}

@keyframes moveToEnd {
   0% {
      margin-left: 0;
   }
   100% {
      margin-left: calc(100% - 100px);
   }
}

.inTheEnd {
   margin-left: calc(100% - 100px);
}

.carName {
   position: absolute;
   right: 40px;
   line-height: 30px;
   font-size: var(--font-size-big);
   font-weight: var(--font-weight-extra-bold);
   color: $text-color;
}

@media (max-width: 576px) {
   .controlBlock {
      border: none;
      padding: 0;
   }

   .carTrack {
      border-width: 1px;
   }
}
