.navButton {
   padding: 6px 10px 4px 10px;
   margin: 0 5px;
   line-height: 16px;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 1px;
   color: white;
   cursor: pointer;
   background-color: #a001ea;
   border: none;
   border-bottom: 3px solid #ccc;
   transition: all 0.4s;
}

.navButton:hover {
   transform: Scale( 1.03 );
   background-color: #8100bd;
}

.navButton:active {
   transform: Scale( 0.97 ); 
   background-color: #7000a3;
}

.navButton.disabled {
  background: gray;
  cursor: not-allowed;
}

.isActive {
   border-color: rgb(72, 191, 238);
}