@import '/src/CONSTANTS/variables';

.aside {
   display: inline-flex;
   flex-direction: column;
}

.row {
   display: flex;
   flex-direction: row;
   margin: 10px 0;
   justify-content: space-between;
}

.nameInput {
   outline: none;
   background-color: $clickable-box-background-color;
   border-radius: 4px;
   border: none;
   border-bottom: 3px solid $border-color;
   color: $text-color;
   padding: 5px 10px;
   font-weight: var( --font-weight-bold );
   line-height: 16px;
   font-size: var( --font-size-small );
}

.colorBox {
   outline: none;
   cursor: pointer;
   background-color: $clickable-box-background-color;
   border-radius: 4px;
   border: none;
   border-bottom: 3px solid $border-color;
   height: 30px;
   width: 30px;
   padding: 0 2px;
   margin: 0 10px;
}
