@import '/src/CONSTANTS/variables';

.aside {
   display: inline-flex;
   flex-direction: column;
   margin-left: auto;
   font-size: var(--font-size-bigger);
}

.row {
   display: flex;
   flex-direction: row;
   margin: 10px 0;
   justify-content: space-between;
   height: 30px;
}

.title {
   background: linear-gradient(90deg, $primary-color 10%, $secondary-color 90%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
   font-size: var(--font-size-bigger);
   font-weight: var(--font-weight-extra-bold);
}

@media (max-width: 576px) {
   .row {
      height: 20px;
   }
}
