@import '/src/CONSTANTS/variables';

.pagination {
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   font-size: var(--font-size-big);
   font-weight: var(--font-weight-extra-bold);
   color: $text-color;
}
